.carousel {
  margin-top: auto;
  border-color: black;
  background-color: #333;
  height: 90vh; /* Mantém altura total em desktop */
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-container {
  perspective: 1000px;
  transform-style: preserve-3d;
  height: 100%; /* Ocupa toda a altura do .carousel */
  display: flex;
  align-items: center;
}

.carousel-item {
  position: absolute;
  width: 85%;
  max-width: 345px; /* Largura máxima para desktop */
  transition: all 0.5s ease-in-out;
}

.carousel-item.left {
  /* Desktop */
  transform: translateX(-130%) scale(0.8) translateZ(-100px);
  opacity: 0.8;
}

.carousel-item.center {
  /* Desktop */
  transform: translateX(-50%) scale(1) translateZ(0);
  opacity: 1;
  z-index: 1;
}

.carousel-item.right {
  /* Desktop */
  transform: translateX(30%) scale(0.8) translateZ(-100px);
  opacity: 0.8;
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: white;
  padding: 10px;
  cursor: pointer;
  z-index: 2;
  display: flex;
  align-items: center;
  outline: none;
  border: none;
}

.carousel-arrow.left {
  left: 10px;
}

.carousel-arrow.right {
  right: 10px;
}

.carousel-arrow:hover {
  background-color: transparent;
  color: white;
}

@media (min-width: 1010px){
  .carousel-container {
    height: 100%; /* Ocupa toda a altura do .carousel */
    display: flex;
    align-items: center;
  }
  .carousel-item {
    height: 50%;
    width: auto;
    margin-left: -100px;
   
  }
  .carousel-arrow.right {
    margin-right: 220px;
  }
  .t
}