@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

.navigation-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  z-index: 1000;
  padding: 30px 40px; /* Increased padding */
  font-family: "Open Sans";
}

.navigation-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
  /* Adjusted margin-left to move items more to the left */
}

@media (max-width: 1024px) {
  .navigation-menu ul {
    margin-left: 10px; /* Adjust this value to change the distance from the logo */
  }
}

.navigation-menu li {
  margin: 0 15px;
}

.navigation-menu a {
  text-decoration: none;
  color: black;
  font-weight: 600; /* Semi-bold weight */
}

.navigation-menu a.active {
  border-bottom: 1px solid black; /* Add a bottom border to the active link */
}

.menu-toggle {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 45%;
}

.logo {
  margin-right: 45%; /* Default margin */
}

@media (max-width: 1024px) {
  .logo {
    margin-right: 30%; /* Adjust margin for medium screens */
  }
}

@media (max-width: 768px) {
  .logo {
    margin-right: 15%; /* Adjust margin for small screens */
  }
}

@media (max-width: 480px) {
  .logo {
    margin-right: 5%; /* Adjust margin for extra small screens */
  }
}

@media (max-width: 1024px) {
  .logo {
    margin-right: 3%; /* Adjust margin for medium screens */
  }
}

@media (max-width: 768px) {
  .logo {
    margin-right: 2%; /* Adjust margin for small screens */
  }
}

@media (max-width: 768px) {
  .navigation-menu {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
  }

  .navigation-menu ul {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    display: none;
    margin-left: 0;
    /* Reset margin for smaller screens */
  }

  .navigation-menu ul.open {
    display: flex;
  }

  .navigation-menu li {
    margin: 10px 0;
  }

  .menu-toggle {
    display: block;
  }
}

/* Add media query for smaller screens */
@media (max-width: 480px) {
  .navigation-menu {
    padding: 5px 10px;
  }

  .navigation-menu ul {
    padding: 0;
  }

  .navigation-menu li {
    margin: 5px 0;
  }

  .menu-toggle {
    font-size: 20px;
  }
}
