@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.navigation-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  z-index: 1000;
  padding: 20px 40px;
  font-family: "Open Sans", sans-serif;
  transition: background-color 0.3s ease;
}

.navigation-menu.scrolled {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navigation-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 45%;
}

.navigation-menu li {
  margin: 0 15px;
}

.navigation-menu a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 600;
  cursor: pointer;
  padding: 5px 0;
  transition: color 0.3s ease;
  position: relative;
}

/* Mantenha o border-bottom mas sem animação */
.navigation-menu a.active {
  border-bottom: 2px solid rgb(0, 0, 0);
}

.navigation-menu.scrolled a {
  color: black;
}

.menu-toggle {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: auto;
  color: white;
}

.navigation-menu.scrolled .menu-toggle {
  color: black;
}

.logo {
  width: 150px;
  height: auto;
}

@media (max-width: 768px) {
  .navigation-menu {
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px 20px;
  }

  .navigation-menu ul {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    display: none;
    margin-left: 0;
  }

  .navigation-menu ul.open {
    display: flex;
  }

  .navigation-menu li {
    margin: 10px 0;
  }

  .menu-toggle {
    display: block;
  }

  .navigation-menu a,
  .navigation-menu .menu-toggle {
    color: black;
  }
}

@media (max-width: 480px) {
  .navigation-menu {
    padding: 5px 10px;
  }

  .navigation-menu li {
    margin: 5px 0;
  }

  .menu-toggle {
    font-size: 20px;
  }
}

#home,
#localizacao,
#planos,
#contate-nos,
#duvidas {
  box-sizing: border-box;
}
