@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.navigation-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  z-index: 1000;
  padding: 20px 40px;
  font-family: "Open Sans", sans-serif;
  transition: background-color 0.3s ease;
}

.navigation-menu.scrolled {
  background-color: rgba(255, 255, 255, 0.9);
}

.navigation-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 45%;
}

.navigation-menu li {
  margin: 0 15px;
  position: relative;
}

.navigation-menu a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 600;
  cursor: pointer;
  padding: 5px 0;
  transition: color 0.3s ease;
  position: relative;
  display: inline-block;
}

.navigation-menu a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

/* Remove o efeito hover */
.navigation-menu a:hover::after {
  transform: scaleX(0);
}

/* Estilo para links ativos */
.navigation-menu a.active::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Remove a barrinha do link Home */
.navigation-menu a[to="home"]::after,
.navigation-menu a[to="home"]:hover::after,
.menu-toggle {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: auto;
  color: black;
}

.logo {
  width: 150px;
  height: auto;
}

@media (max-width: 768px) {
  .navigation-menu ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px 0;
  }

  .navigation-menu ul.open {
    display: flex;
  }

  .navigation-menu li {
    margin: 10px 0;
  }

  .menu-toggle {
    display: block;
  }
}
