.whatsAppIcon {
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 1000;
  cursor: pointer;
  width: 80px; /* Garante que a área de clique corresponda ao ícone */
  height: 80px;
  filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.3)); /* Sombra para destaque */
}