@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

.card-contate-nos-body {
  font-family: Inter, sans-serif;
  height: 100vh;
  color: white;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-contate-nos-container {
  width: 820px;
  height: 340px;
  display: flex;
  gap: 10px;
  margin-inline: 50px;
}

.card-contate-nos-item {
  min-width: 70px;
  height: 100%;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
  position: relative;
  transition: flex-grow 0.5s cubic-bezier(0.16, 1, 0.3, 1);
  --transition-timing: 0.35s;
  cursor: default;
}

.card-contate-nos-item:hover {
  flex-grow: 7;
}

.card-contate-nos-item > .card-contate-nos-background {
  position: absolute;
  inset: 0;
  object-fit: cover;
  object-position: center;
  filter: brightness(0.4); /* Always apply the filter */
  z-index: -1;
  transition: var(--transition-timing) ease;
}

.card-contate-nos-content {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  transition: var(--transition-timing);
  z-index: 10;
}

.card-contate-nos-item:hover .card-contate-nos-content {
  justify-content: flex-end; /* Keep content at the bottom */
}

.card-contate-nos-item:hover .card-contate-nos-profile-image,
.card-contate-nos-item:hover .card-contate-nos-title {
  position: absolute;
  top: 20px;
  left: 20px;
  margin-bottom: 0; /* Remove bottom margin */
}

.card-contate-nos-item:hover .card-contate-nos-title {
  top: 80px; /* Adjust title position below the logo */
}

.card-contate-nos-profile-image {
  width: 50px;
  height: 50px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: -5px; /* Adjust margin to bring icon closer to the title */
  transition: margin-bottom var(--transition-timing);
}

.card-contate-nos-profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image fits within the circle */
}

.card-contate-nos-item:hover .card-contate-nos-profile-image {
  border-color: rgb(110, 252, 205);
  margin-bottom: 10px; /* Adjust margin to move logo to the top */
}

.card-contate-nos-item:hover .card-contate-nos-profile-image {
  position: absolute;
  top: 20px;
  right: 20px; /* Move logo to the top right */
  margin-bottom: 0; /* Remove bottom margin */
}

.card-contate-nos-item:hover .card-contate-nos-title {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%); /* Center the title */
  margin-bottom: 0; /* Remove bottom margin */
  opacity: 0; /* Hide the title */
  transition: opacity var(--transition-timing);
}

.card-contate-nos-title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: -10;
  opacity: 1;
  transition: var(--transition-timing);
}

.card-contate-nos-info-card {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity var(--transition-timing) ease;
  color: white;
  margin-top: -55%;
}

.card-contate-nos-item:hover .card-contate-nos-info-card {
  opacity: 1;
  max-height: 200px;
}

.card-contate-nos-info-card h2 {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 5px;
}

.card-contate-nos-info-card p {
  font-size: 12px;
  line-height: 1.4;
  margin: 0;
}

.card-contate-nos-backdrop {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  z-index: 5;
  opacity: 0;
  transition: opacity var(--transition-timing) ease;
}

.card-contate-nos-item:hover .card-contate-nos-backdrop {
  opacity: 1;
}

.card-contate-nos-item {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

