.home-background {
  background-image: url("../../assets/background-home.svg");
  height: 100vh;
  width: 98.8vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .home-background {
    background-size: contain;
  }
  .info-card {
    width: 70%;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .info-card {
    width: 90%;
    padding: 5px;
  }
}

@media (max-width: 1024px) {
  .info-card {
    width: 80%;
    padding: 15px;
  }
}

.info-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%); /* Altere a posição inicial para baixo */
  width: 400px;
  padding: 20px;
  color: black;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.info-card h2 {
  margin-top: 0;
  text-align: center; /* Centraliza o título */
}

.info-card p {
  margin: 0;
}

.info-card.visible {
  opacity: 1;
  transform: translate(-50%, -50%); /* Alinhe com o centro da página */
}

.about-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #003366; /* Azul escuro */
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.about-button:hover {
  background-color: #002244; /* Azul ainda mais escuro */
  transform: scale(1.1); /* Ampliação ao passar o mouse */
}

.fixed-left {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.acrylic-effect {
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;
}
