/* home.css */

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.home-background {
  position: relative; /* Importante para posicionar a imagem */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/*  Estilos para a imagem de fundo */
.background-image {
  position: absolute; /* Posiciona a imagem em relação ao .home-background */
  top: 0;
  left: 0;
  width: 100%;       /* Ocupa toda a largura */
  height: 100%;      /* Ocupa toda a altura */
  object-fit: cover; /* Garante que a imagem cubra todo o container, mantendo a proporção */
  z-index: -1;       /* Coloca a imagem atrás de qualquer outro conteúdo */
}

/* Remove os estilos do .video-home, já que não estamos mais usando vídeo */