.contate-nos-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.contate-nos-left {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}

.titulo-contate-nos {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: left;
  margin-top: 1rem; /* Ajuste para descer mais o título */
  margin-left: 10px;

}

.subtitulo-contatos {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 0rem;
  margin-left: -54%;
  text-align: left;
}

.text {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  text-align: left;
}

.social-media-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the buttons */
  width: 100%;
  margin-top: 20px; /* Adjust margin to position buttons correctly */
}

.contate-nos-row {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin: 0.5rem 0;
}

.contate-nos-item {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  margin-bottom: 0rem; /* Ajuste para aproximar o email do telefone */
  margin-left: 10px;
}

.contate-nos-item p {
  margin-left: 0rem;
  font-size: 1rem;
}

.contate-nos-item dotlottie-player {
  margin-top: 0.5rem; /* Ajuste para descer os ícones */
}

.contate-nos-item.email {
  margin-top: -0.5rem; /* Ajuste para subir o email e o ícone */
}

.contate-nos-right {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
}

@media (max-width: 1024px) {
  .contate-nos-container {
    flex-direction: column;
    align-items: center;
  }

  .contate-nos-left,
  .contate-nos-right {
    width: 100%;
  }

  .contate-nos-left {
    margin-bottom: 2rem;
  }

  .titulo-contate-nos {
    text-align: center;
  }

  .subtitulo-contatos {
    text-align: center;
  }

  .social-media-container {
    align-items: center;
  }

  .contate-nos-row {
    justify-content: center;
  }

  .contate-nos-right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
  }
}

@media (max-width: 768px) {
  .contate-nos-container {
    padding: 10px;
  
  }

  .titulo-contate-nos,
  .text {
    font-size: 1.5rem;
    margin-left:43%;
  }
  .subtitulo-contatos,
  .text {
    font-size: 1.5rem;
    margin-left:0%;

  }

  .contate-nos-item p {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .contate-nos-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .contate-nos-item p {
    margin-left: 0;
    margin-top: 0.5rem;
  }

  .titulo-contate-nos,
  .subtitulo-contatos,
  .text {
    font-size: 1.2rem;
  }

  .contate-nos-item p {
    font-size: 0.8rem;
  }
}

button {
  background-color: darkviolet;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 25px; /* Aumenta o arredondamento dos botões */
  cursor: pointer;
}

button:hover {
  background-color: darkviolet;
}

.no-wrap {
  white-space: nowrap;
}
