/* contate-nos.css */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.contate-nos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  box-sizing: border-box;
}

.contate-nos-card {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1rem;
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contate-nos-card:last-child {
  margin-top: 0;
  margin-bottom: 0;
}

.contate-nos-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap;
}

.contate-nos-left {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 48%;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

.titulo-contate-nos {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: left;
  margin-top: 0;
  color: black;
  width: 100%;
}

.subtitulo-contatos {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: left;
  color: black;
  width: 100%;
}

.text {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    line-height: 1.5;
}

.social-media-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-top: 1rem;
}

.contate-nos-row {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin: 0.5rem 0;
}

/*  Estilos para os botões (adicionado) */
.contate-nos-button {
  margin-right: 0.5rem; /*  Espaço entre os botões */
}

.contate-nos-button:last-child {
  margin-right: 0; /* Remove a margem do último botão */
}


.contate-nos-item {
    display: flex;
    align-items: center;
    margin-right: 0;
    margin-bottom: 0.5rem;
    margin-left: 0;
    line-height: 1;
}

.contate-nos-item a {
  margin: 0;
  display: flex;
  align-items: center;
}

.contate-nos-item p {
  margin-left: 0;
  font-size: 1rem;
}

.contate-nos-item dotlottie-player {
  margin-top: 0;
}

.contate-nos-item.email {
  margin-top: 0;
}

.contate-nos-right {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 48%;
    box-sizing: border-box;
    align-items: flex-start;

}

button {
  background-color: darkviolet;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  cursor: pointer;
}

button:hover {
  background-color: darkviolet;
}

.no-wrap {
  white-space: nowrap;
}

/* Media Queries */

@media (max-width: 1024px) {
  .contate-nos-container {
    min-height: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }
   .contate-nos-card {
        max-width: 100%;
    }

    .contate-nos-left,
    .contate-nos-right {
        width: 100%;
        align-items: center;
        margin-bottom: 1rem;
    }
    .contate-nos-row{
        justify-content: center;
    }
     .titulo-contate-nos, .subtitulo-contatos{
        text-align: center;
    }
      /*  Centraliza os botões em telas menores */
    .contate-nos-button {
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
    }
}

@media (min-width: 1025px) {
    .social-media-container{
        margin-right: 2rem;
    }
}