/* contate-nos.css */
html, body, #root { /*  <-- Adicionado #root (ou o ID do seu elemento raiz) */
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.contate-nos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh; /* Garante que o container ocupe pelo menos a altura total da viewport */
  box-sizing: border-box; /* Inclui padding e border no cálculo da largura e altura */
}

.contate-nos-card {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1rem;
  max-width: 600px;
}

/* Estilos para o card do formulário (CardContatenos) */
.contate-nos-card:last-child {
  margin-top: 0;
  margin-bottom: 0;
  /* padding: 0;  Se quiser remover o padding interno, descomente */
}

.contate-nos-left {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.titulo-contate-nos {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  margin-top: 1rem;
  color: black;
}

.subtitulo-contatos {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 0rem;
  text-align: center;
  color: black;
  margin-left: 0;
}

.text {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  text-align: left;
}

.social-media-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.contate-nos-row {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0.5rem 0;
}

.contate-nos-item {
  display: flex;
  align-items: center;
  margin-right: 0;
  margin-bottom: 0rem;
  margin-left: 0;
}

.contate-nos-item a {
  margin: 0 5px;
}

.contate-nos-item p {
  margin-left: 0rem;
  font-size: 1rem;
}

.contate-nos-item dotlottie-player {
  margin-top: 0.5rem;
}

.contate-nos-item.email {
  margin-top: -0.5rem;
}

.contate-nos-right {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  width: 100%;
}

button {
  background-color: darkviolet;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  cursor: pointer;
}

button:hover {
  background-color: darkviolet;
}

.no-wrap {
  white-space: nowrap;
}
/* --- Media Queries --- */

/*  Remove o min-height em telas menores, já que o conteúdo
    pode ser menor que a altura da viewport. */
@media (max-width: 1024px) {
  .contate-nos-container {
    min-height: 0; /* Remove o min-height */
    padding-top: 20px; /* Adiciona padding superior */
    padding-bottom: 20px; /* Adiciona padding inferior */
  }
}