.info-card {
  width: 300px;
  height: 300px;
  padding: 20px;
  margin-left: 40px;
  color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.info-card h2 {
  margin-top: 0;
  text-align: center; /* Centraliza o título */
}

.info-card p {
  margin: 0;
}

.fixed-left {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.acrylic-effect {
  background: rgba(255, 255, 255, 0.15); /* Increased transparency */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;
}
