.localizacao-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.lottie-player-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6.5%;
  margin-top: 0;
}

.localizacao-label {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: black;
  font-family: "Open Sans", sans-serif; /* Use the same font as navigation menu */
}

.localizacao-address-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.localizacao-address {
  margin-left: 10px;
  font-size: 16px;
  color: black;
  font-family: "Open Sans", sans-serif; /* Use the same font as navigation menu */
  text-align: center;
}

.google-maps-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px; /* Adjust the width to match the car animation */
  height: 400px; /* Set the height to match the car animation */
  margin: 0 auto; /* Center the container */
  margin-right: 10%; /* Adjust the right margin */
  margin-top: -7%;
}

.localizacao-image {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-bottom: 20px;
}

.localizacao-button {
  font-family: "Open Sans", sans-serif; /* Use the same font as navigation menu */
}

.lottie-player {
  width: 500px;
  height: 500px;
}

.lottie-player-small {
  width: 50px;
  height: 50px;
}

.google-maps-container,
.map-container {
  width: 100%;
  height: 400px;
}

@media (max-width: 1024px) {
  .localizacao-container {
    flex-direction: column;
    align-items: center;
  }

  .google-maps-container {
    width: 100%;
    height: 300px;
  }

  .localizacao-address {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .localizacao-container {
    flex-direction: column;
    align-items: flex-start; /* Align items to the left */
    margin-left: 0vh;
    padding: 10px;
  }

 

  .google-maps-container,
  .map-container {
    width: 42vh; /* Reduced width */
    height: 60vh; /* Reduced height */
    margin-left: -50vh;
  }

  .localizacao-label {
    margin-top: -50px;
  }

  .localizacao-address {
    font-size: 14px;
  }

  .lottie-player-container {
    margin-left: -50vh;
    margin-bottom: 100px;
  }

  .lottie-player {
    width: 300px; /* Adjusted width for mobile */
    height: 300px; /* Adjusted height for mobile */
  }

  .lottie-player-small {
    width: 30px; /* Adjusted width for mobile */
    height: 30px; /* Adjusted height for mobile */
  }
}

@media (max-width: 480px) {
  .localizacao-container {
    flex-direction: column;
    align-items: center;
    padding: 5px;
  }

  .google-maps-container {
    width: 100%;
    height: 200px;
    margin-left: 2vh;
  }

  .localizacao-address {
    font-size: 12px;
  }
}
