@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

.navigation-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  z-index: 1000;
  padding: 30px 40px; /* Increased padding */
  font-family: "Open Sans", sans-serif;
}

.navigation-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 650px; /* Adjust this value to change the distance from the right */
}

.navigation-menu li {
  margin: 0 15px;
}

.navigation-menu a {
  text-decoration: none;
  color: black;
  font-weight: 600; /* Semi-bold weight */
}

.navigation-menu a:hover {
  color: #4b4b4b;
}

.navigation-menu a.active {
  border-bottom: 1px solid black; /* Add a bottom border to the active link */
  transition: border-bottom 0.3s ease-in-out; /* Add transition for smooth sliding effect */
}
