.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  width: 100%;
  bottom: 0;
  left: 0; /* Adicionar esta linha */
  font-size: 13px;
}

.footer a:hover {
  text-decoration: underline;
}
