.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  width: 100%;
  bottom: 0;
  left: 0;
  font-size: 13px;
}

.footer a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .footer {
    font-size: 12px;
    padding: 10px 0;
  }
}

@media (max-width: 480px) {
  .footer {
    font-size: 11px;
    padding: 15px 0;
  }
}
