.faq-title {
  font-size: 2em;
  margin-bottom: 40px;
  margin-top: 100px;
  text-align: center;
  color: black;
}

.faq-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 10 auto;
  margin-left: 2.5%;
  padding: 0 30px;
}

.faq-card {
  border: 2px solid #ccc;
  border-radius: 8px;
  margin: 10px;

  padding: 10px;
  color: black;
  font-size: 0.8em;
  transition: transform 0.3s ease;
  width: 350px;
  height: 130px;
}

.faq-card:hover {
  transform: scale(1.05);
}

.faq-question {
  font-weight: bold;
  margin-bottom: 10px;
}

.faq-answer {
  margin-bottom: 10px;
}

@media (max-width: 1024px) {
  .faq-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .faq-card {
    width: 100%;
    height: auto;
    font-size: 0.9em;
  }
}

@media (max-width: 768px) {
  .faq-container {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .faq-card {
    width: 100%;
    height: auto;
    font-size: 1em;
  }
}

@media (max-width: 480px) {
  .faq-container {
    grid-template-columns: 1fr;
    gap: 5px;
  }

  .faq-card {
    width: 100%;
    height: auto;
    font-size: 1.1em;
  }
}
