.faq-title {
  font-size: 2em;
  margin-bottom: 40px;
  text-align: center;
  color: black;
}

.faq-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 0 10px;
}

.faq-card {
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  color: black;
  font-size: 0.9em;
  transition: transform 0.3s ease;
  width: 350px;
  height: 150px;
}

.faq-card:hover {
  transform: scale(1.05);
}

.faq-question {
  font-weight: bold;
  margin-bottom: 10px;
}

.faq-answer {
  margin-bottom: 10px;
}
