/* App.css */

/* Garante que o App ocupe todo o espaço */
#root {
  width: 100%;
  overflow-x: hidden; /* Previne scroll horizontal */
}


.page-section {
  width: 100%;
  padding: 100px 5%; /* Espaçamento vertical e horizontal */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Essencial para as animações não vazarem */
  scroll-margin-top: 0px; /* Compensa a altura do menu fixo ao rolar */
}

/* Estilos específicos para seções com fundos diferentes */
#home {
  padding: 0; /* A seção Home controla seu próprio padding */
  min-height: 100vh;
}

#planos {
  background-color: var(--dark-background);
}

#duvidas {
  background-color: var(--dark-background);
}

/* Ajustes de padding para telas menores */
@media (max-width: 768px) {
  .page-section {
    padding: 80px 5%;
  }
}